<div class="container-fluid">
    <div class="hero-unit">
        <h1>Hello, this is Template 1...</h1>
        <h5>{{$ctrl.title}}</h5>
        <p>The DMS (Dashboard Management System) is an end to end Web Application Platform, 
            where it helps you to develop Web Components like Modules, Views, Dashboards, Cards and etc. 
            The developed component can then further managed using the System and with its various tools. 
            The objective of the system is to develop once and share the components across all Nasdaq Products 
            (who ever implements a hosting container for the same)</p>
        <p>
            <a class="btn btn-primary" target="_blank" href="https://confluence.org.nasdaqomx.com/display/GCSFW/DMS+Web+Platform">Learn more about DMS</a>
        </p>
    </div>
</div>